<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buckle.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0D26C347DA1D93F21490A48E082B0737AFCE894D</string>
				<key>dateExpires</key>
				<string>24/03/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D26C347DA1D93F21490A48E082B0737AFCE894D</string>
						<key>dateExpires</key>
						<string>24/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN3VQ9SL3L</string>
						<key>name</key>
						<string>Shovanik Majumdar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D26C347DA1D93F21490A48E082B0737AFCE894D</string>
						<key>dateExpires</key>
						<string>24/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN3VQ9SL3L</string>
						<key>name</key>
						<string>Shovanik Majumdar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D26C347DA1D93F21490A48E082B0737AFCE894D</string>
						<key>dateExpires</key>
						<string>24/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN3VQ9SL3L</string>
						<key>name</key>
						<string>Shovanik Majumdar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D26C347DA1D93F21490A48E082B0737AFCE894D</string>
						<key>dateExpires</key>
						<string>24/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN3VQ9SL3L</string>
						<key>name</key>
						<string>Shovanik Majumdar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D26C347DA1D93F21490A48E082B0737AFCE894D</string>
						<key>dateExpires</key>
						<string>24/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FloatingPanel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN3VQ9SL3L</string>
						<key>name</key>
						<string>Shovanik Majumdar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D26C347DA1D93F21490A48E082B0737AFCE894D</string>
						<key>dateExpires</key>
						<string>24/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KWVerificationCodeView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN3VQ9SL3L</string>
						<key>name</key>
						<string>Shovanik Majumdar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D26C347DA1D93F21490A48E082B0737AFCE894D</string>
						<key>dateExpires</key>
						<string>24/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN3VQ9SL3L</string>
						<key>name</key>
						<string>Shovanik Majumdar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D26C347DA1D93F21490A48E082B0737AFCE894D</string>
						<key>dateExpires</key>
						<string>24/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN3VQ9SL3L</string>
						<key>name</key>
						<string>Shovanik Majumdar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D26C347DA1D93F21490A48E082B0737AFCE894D</string>
						<key>dateExpires</key>
						<string>24/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SideMenuSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN3VQ9SL3L</string>
						<key>name</key>
						<string>Shovanik Majumdar</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0D26C347DA1D93F21490A48E082B0737AFCE894D</string>
						<key>dateExpires</key>
						<string>24/03/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>DN3VQ9SL3L</string>
						<key>name</key>
						<string>Shovanik Majumdar</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>DN3VQ9SL3L.app.testhabit.com</string>
				<key>com.apple.developer.team-identifier</key>
				<string>DN3VQ9SL3L</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>DN3VQ9SL3L.app.testhabit.com</string>
				</array>
			</dict>
			<key>name</key>
			<string>Buckle.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2adceda6-fb8d-4e2c-9cb4-d491e0e50e74</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: app.testhabit.com</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>DN3VQ9SL3L</string>
				<key>name</key>
				<string>Shovanik Majumdar</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
